In [4]:
import pandas as pd

In [5]:
# aa = pd.read_csv("tables/football-data.co.uk/17-18.csv")
# bb = pd.read_csv("tables/football-data.co.uk/18-19.csv")
# cc = pd.read_csv("tables/football-data.co.uk/19-20.csv")
# dd = pd.read_csv("tables/football-data.co.uk/20-21.csv")
# ee = pd.read_csv("tables/football-data.co.uk/21-22.csv")
# ff = pd.read_csv("tables/football-data.co.uk/22-23.csv")
gg = pd.read_csv("../tables/football-data.co.uk/16-17.csv")
hh = pd.read_csv("../tables/football-data.co.uk/15-16.csv")
ii = pd.read_csv("../tables/football-data.co.uk/14-15.csv")
jj = pd.read_csv("../tables/football-data.co.uk/13-14.csv")
kk = pd.read_csv("../tables/football-data.co.uk/12-13.csv")
ll = pd.read_csv("../tables/football-data.co.uk/11-12.csv")
mm = pd.read_csv("../tables/football-data.co.uk/10-11.csv")

data = pd.concat([mm, ll, kk, jj, ii, hh, gg])

data = data[data.columns[:22]]
data2 = data.add_suffix('_2')
thedata = pd.concat([data, data2], axis=1)
thedata.columns

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY',
       'AY', 'HR', 'AR', 'Div_2', 'Date_2', 'HomeTeam_2', 'AwayTeam_2',
       'FTHG_2', 'FTAG_2', 'FTR_2', 'HTHG_2', 'HTAG_2', 'HTR_2', 'HS_2',
       'AS_2', 'HST_2', 'AST_2', 'HF_2', 'AF_2', 'HC_2', 'AC_2', 'HY_2',
       'AY_2', 'HR_2', 'AR_2'],
      dtype='object')

In [6]:
thedata.rename(columns={'HomeTeam': 'team', 'FTHG': 'score', 'FTAG': 'score_against', "HS":"shots", "AS":"opponent_shots", "HST":"shots_on_target", "AST":"opponent_shots_on_target", "HF":"fouls", "HC":"corners", "HY":"yellows", "HR":"reds", "AwayTeam_2":"team", "FTHG_2":"score_against", "FTAG_2":"score", "HS_2":"opponent_shots", "AS_2":"shots", "HST_2":"opponent_shots_on_target", "AST_2":"shots_on_target", "AF_2":"fouls", "AC_2":"corners", "AY_2":"yellows", "AR_2":"reds"}, inplace=True)
thedata.drop(["AwayTeam", "FTR", "HTHG", "HTAG", "HTR", "AF", "AC", "AY", "AR", "Div_2", "Date_2", "HomeTeam_2", "FTR_2", "HTHG_2", "HTAG_2", "HTR_2", "HF_2", "HC_2", "HY_2", "HR_2"], axis=1, inplace=True)
thedata["Date"] = pd.to_datetime(thedata["Date"], format='%d/%m/%Y', errors='coerce').fillna(pd.to_datetime(thedata["Date"], format='%d/%m/%y', errors='coerce'))

In [7]:
thedata1 = thedata.iloc[:, :2]
thedata2 = thedata.iloc[:, 2:]
thedata2

,team,score,score_against,shots,opponent_shots,shots_on_target,opponent_shots_on_target,fouls,corners,yellows,...,score_against,score,opponent_shots,shots,opponent_shots_on_target,shots_on_target,fouls,corners,yellows,reds
0,Hercules,0,1,9,14,3,5,15,10,2,...,0,1,9,14,3,5,18,1,4,0
1,Levante,1,4,7,14,4,8,20,4,4,...,1,4,7,14,4,8,22,2,4,0
2,Malaga,1,3,19,21,5,8,16,7,2,...,1,3,19,21,5,8,15,10,5,0
3,Espanol,3,1,17,13,8,1,17,8,3,...,3,1,17,13,8,1,9,4,4,0
4,La Coruna,0,0,8,8,2,3,16,4,0,...,0,0,8,8,2,3,19,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,Ath Madrid,3,1,12,16,4,1,13,2,2,...,3,1,12,16,4,1,11,5,0,0
376,Barcelona,4,2,18,6,11,4,3,10,1,...,4,2,18,6,11,4,16,4,2,1
377,Celta,2,2,13,18,5,8,8,3,2,...,2,2,13,18,5,8,17,7,1,0
378,Malaga,0,2,22,16,6,8,6,9,2,...,0,2,22,16,6,8,9,7,0,0
379,Valencia,1,3,16,14,5,6,15,9,2,...,1,3,16,14,5,6,10,0,2,0

In [8]:
even_columns = pd.concat([thedata1, thedata2.iloc[:, 11:]], axis=1)
odd_columns = pd.concat([thedata1, thedata2.iloc[:, :11]], axis=1)
odd_columns

,Div,Date,team,score,score_against,shots,opponent_shots,shots_on_target,opponent_shots_on_target,fouls,corners,yellows,reds
0,SP1,2010-08-28,Hercules,0,1,9,14,3,5,15,10,2,1
1,SP1,2010-08-28,Levante,1,4,7,14,4,8,20,4,4,0
2,SP1,2010-08-28,Malaga,1,3,19,21,5,8,16,7,2,0
3,SP1,2010-08-29,Espanol,3,1,17,13,8,1,17,8,3,0
4,SP1,2010-08-29,La Coruna,0,0,8,8,2,3,16,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,2017-05-21,Ath Madrid,3,1,12,16,4,1,13,2,2,0
376,SP1,2017-05-21,Barcelona,4,2,18,6,11,4,3,10,1,0
377,SP1,2017-05-21,Celta,2,2,13,18,5,8,8,3,2,0
378,SP1,2017-05-21,Malaga,0,2,22,16,6,8,6,9,2,0
379,SP1,2017-05-21,Valencia,1,3,16,14,5,6,15,9,2,0

In [9]:
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

thedata = pd.concat([odd_columns, even_columns], axis=0)
# thedata = thedata.sort_index().reset_index(drop=True)
# thedata = pd.concat([thedata["team"], thedata.drop("team", axis=1)], axis=1)
thedata = thedata.reset_index().sort_values(by=["Date", "index"]).reset_index(drop=True).drop(["index"], axis=1)

In [10]:
thedata.sort_index()
import numpy as np

thedata['result'] = np.where(thedata['score'] > thedata['score_against'], 1, np.where(thedata['score'] == thedata['score_against'], 0.5, 0))
result = thedata['result']
thedata = thedata.drop(["result"], axis=1)

In [11]:
def olddata (team):
    
    a = thedata[thedata["team"]==team]
    a['goals_offense'] = round(((a['score'].rolling(window=10, min_periods=0).mean()*0.6) + (a['score'].rolling(window=5, min_periods=0).mean()*0.3) + (a['score'].rolling(window=3, min_periods=0).mean()*0.1)), 2)
    a['goals_defense'] = round(((a['score_against'].rolling(window=10, min_periods=0).mean()*0.6) + (a['score_against'].rolling(window=5, min_periods=0).mean()*0.3) + (a['score_against'].rolling(window=3, min_periods=0).mean()*0.1)), 1)

    new = a[["Date", "team", "goals_offense", "goals_defense"]]

    b = thedata[thedata.columns[3:]]
    c = thedata[thedata.columns[:3]]

    for i in b.columns:
        b[i] = round(b[i] / ((b[i].rolling(window=100, min_periods=0).quantile(0.95)*0.6) + (b[i].rolling(window=50, min_periods=0).quantile(0.95)*0.3) + (b[i].rolling(window=30, min_periods=0).quantile(0.95)*0.1)), 2)

    b = b.fillna(0)
    all = pd.concat([c, b], axis=1)
    
    all['fouls'] = all['fouls'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['opponent_shots'] = all['opponent_shots'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['opponent_shots_on_target'] = all['opponent_shots_on_target'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['reds'] = all['reds'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))
    all['yellows'] = all['yellows'].apply(lambda x: (1 - x) if pd.notnull(x) else x).apply(lambda x: max(0, x))

    all["offense"] = all[["shots", "shots_on_target", "corners"]].mean(axis=1).round(2)
    all["in_game"] = all[["fouls", "reds", "yellows"]].mean(axis=1).round(2)
    all["defense"] = all[["opponent_shots", "opponent_shots_on_target"]].mean(axis=1).round(2)

    all = all[["team", "score", "score_against", "offense", "in_game", "defense"]]

    all = all[all["team"]==team]

    all["offense"] = round(((all['offense'].rolling(window=100, min_periods=0).mean()*0.6) + (all['offense'].rolling(window=50, min_periods=0).mean()*0.3) + (all['offense'].rolling(window=30, min_periods=0).mean()*0.1))*(1 + (all["score"] * 0.075)), 2)
    all["in_game"] = round(((all['in_game'].rolling(window=100, min_periods=0).mean()*0.6) + (all['in_game'].rolling(window=50, min_periods=0).mean()*0.3) + (all['in_game'].rolling(window=30, min_periods=0).mean()*0.1)), 2)
    all["defense"] = round(((all['defense'].rolling(window=100, min_periods=0).mean()*0.6) + (all['defense'].rolling(window=50, min_periods=0).mean()*0.3) + (all['defense'].rolling(window=30, min_periods=0).mean()*0.1))*(1 - (all["score_against"] * 0.075)), 2)

    all.drop(["team", "score", "score_against"], axis=1, inplace=True)

    complete = pd.concat([new, all], axis=1)

    return complete

In [12]:
teams = thedata["team"].unique()

concatenate = []

for i in teams:
    if len(concatenate) == 0:
        concatenate = olddata(i)
    else:
        concatenate = pd.concat([concatenate, olddata(i)])

In [13]:
concatenate.sort_index(inplace=True)
concatenate["result"] = result
concatenate

,Date,team,goals_offense,goals_defense,offense,in_game,defense,result
0,2010-08-28,Hercules,0.00,1.0,1.00,0.00,0.00,0.0
1,2010-08-28,Ath Bilbao,1.00,0.0,0.77,0.33,0.37,1.0
2,2010-08-28,Levante,1.00,4.0,0.63,0.33,0.00,0.0
3,2010-08-28,Sevilla,4.00,1.0,0.82,0.33,0.47,1.0
4,2010-08-28,Malaga,1.00,3.0,0.85,0.59,0.00,0.0
...,...,...,...,...,...,...,...,...
5315,2017-05-21,Sociedad,1.79,1.5,0.57,0.58,0.47,0.5
5316,2017-05-21,Malaga,1.79,1.1,0.56,0.54,0.49,0.0
5317,2017-05-21,Real Madrid,3.21,1.0,0.80,0.66,0.51,1.0
5318,2017-05-21,Valencia,1.82,1.5,0.52,0.51,0.41,0.0
5319,2017-05-21,Villarreal,1.63,1.3,0.53,0.59,0.45,1.0

In [14]:
df_even = concatenate[concatenate.index % 2 == 0]
df_odd = concatenate[concatenate.index % 2 == 1]

df_even.reset_index(drop=True, inplace=True)
df_odd.reset_index(drop=True, inplace=True)

In [15]:
result = pd.merge(df_even, df_odd, left_index=True, right_index=True)

result.rename(columns={"Date_x":"date", "team_x":"home_team", "goals_offense_x":"home_goals_offense", "goals_defense_x":"home_goals_defense", "offense_x":"home_offense", "in_game_x":"home_in_game", "defense_x":"home_defense", "team_y":"away_team", "goals_offense_y":"away_goals_offense", "goals_defense_y":"away_goals_defense", "offense_y":"away_offense", "in_game_y":"away_in_game", "defense_y":"away_defense", "result_x":"result"}, inplace=True)
result.drop(["Date_y", "result_y"], axis=1, inplace=True)
result = pd.concat([result.drop("result", axis=1), result["result"]], axis=1)
result

,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,away_goals_defense,away_offense,away_in_game,away_defense,result
0,2010-08-28,Hercules,0.00,1.0,1.00,0.00,0.00,Ath Bilbao,1.00,0.0,0.77,0.33,0.37,0.0
1,2010-08-28,Levante,1.00,4.0,0.63,0.33,0.00,Sevilla,4.00,1.0,0.82,0.33,0.47,0.0
2,2010-08-28,Malaga,1.00,3.0,0.85,0.59,0.00,Valencia,3.00,1.0,1.07,0.43,0.22,0.0
3,2010-08-29,Espanol,3.00,1.0,0.93,0.52,0.61,Getafe,1.00,3.0,0.40,0.57,0.08,1.0
4,2010-08-29,La Coruna,0.00,0.0,0.35,0.75,0.61,Zaragoza,0.00,0.0,0.46,0.63,0.68,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2655,2017-05-21,Ath Madrid,1.85,0.5,0.61,0.61,0.56,Ath Bilbao,1.57,1.2,0.59,0.60,0.53,1.0
2656,2017-05-21,Barcelona,3.82,1.2,0.81,0.69,0.55,Eibar,1.03,1.3,0.54,0.56,0.45,1.0
2657,2017-05-21,Celta,0.97,2.6,0.50,0.53,0.42,Sociedad,1.79,1.5,0.57,0.58,0.47,0.5
2658,2017-05-21,Malaga,1.79,1.1,0.56,0.54,0.49,Real Madrid,3.21,1.0,0.80,0.66,0.51,0.0
2659,2017-05-21,Valencia,1.82,1.5,0.52,0.51,0.41,Villarreal,1.63,1.3,0.53,0.59,0.45,0.0

In [16]:
result.to_csv("../coding-csv/football-data-data-cleaned-for-use.csv")