In [16]:
import pandas as pd

In [17]:
# Bring all the CSVs from the www.football-data.co.uk website, which includes the betting odds previous to each match.

aa = pd.read_csv("../tables/football-data.co.uk/17-18.csv")
bb = pd.read_csv("../tables/football-data.co.uk/18-19.csv")
cc = pd.read_csv("../tables/football-data.co.uk/19-20.csv")
dd = pd.read_csv("../tables/football-data.co.uk/20-21.csv")
ee = pd.read_csv("../tables/football-data.co.uk/21-22.csv")
ff = pd.read_csv("../tables/football-data.co.uk/22-23.csv")
gg = pd.read_csv("../tables/football-data.co.uk/16-17.csv")
hh = pd.read_csv("../tables/football-data.co.uk/15-16.csv")
ii = pd.read_csv("../tables/football-data.co.uk/14-15.csv")
jj = pd.read_csv("../tables/football-data.co.uk/13-14.csv")
kk = pd.read_csv("../tables/football-data.co.uk/12-13.csv")
ll = pd.read_csv("../tables/football-data.co.uk/11-12.csv")
mm = pd.read_csv("../tables/football-data.co.uk/10-11.csv")
nn = pd.read_csv("../tables/football-data.co.uk/23-24.csv")


# Concatenate all these sources into one dataframe named old.

old = pd.concat([mm, ll, kk, jj, ii, hh, gg, aa, bb, cc, dd, ee, ff, nn])

# See amounts of NaN values.

x = ["B365H", "B365D", "B365A", "BWH", "BWD", "BWA", "IWH", "IWD", "IWA", "WHH", "WHD", "WHA", "VCH", "VCD", "VCA"]

bettinghouses = old[x]

bettinghouses.isnull().sum().sort_values(ascending=False)

BWH      10
BWD      10
BWA      10
IWH       6
IWD       6
IWA       6
VCH       1
VCD       1
VCA       1
B365H     0
B365D     0
B365A     0
WHH       0
WHD       0
WHA       0
dtype: int64

In [18]:
# Drop columns "LBH", "LBD", and "LBA" as values under such columns are mostly NaN.

old.drop(["PSH", "PSD", "PSA"], axis=1, inplace=True)

In [19]:
# The 'new' dataframe is the table created in the matchscore workbook where it contains all the data of each team's performance previous to the match.

new = pd.read_csv("../coding-csv/in_game_match_data.csv", index_col=[0])
new.replace({'Almeria': "Almería", 'Sociedad': "Real Sociedad", "Ath Bilbao":"Athletic Club", "Celta": "Celta Vigo", "Cadiz":"Cádiz", "Ath Madrid":"Atlético Madrid", "Betis":"Real Betis", "Alaves":"Alavés", "Vallecano":"Rayo Vallecano", "La Coruna":"Deportivo La Coruña", "Malaga":"Málaga", "Espanol":"Espanyol", "Leganes":"Leganés"}, inplace=True)


# In order to merge both dataframes, unique ID is created to be the matching column between both datasets.

new["ID"] = new['date'].astype(str) + '-' + new['home_team'] + '-' + new['away_team']
new = pd.concat([new["ID"], new.drop("ID", axis=1)], axis=1)
new

,ID,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,...,away_defense,result,home_standing,away_standing,home_win_streak,home_lose_streak,away_win_streak,away_lose_streak,home_draw_streak,away_draw_streak
0,2017-08-18-Leganés-Alavés,2017-08-18,Leganés,NaN,NaN,NaN,NaN,NaN,Alavés,NaN,...,NaN,1.0,0,0,0,0,0,0,0,0
1,2017-08-18-Valencia-Las Palmas,2017-08-18,Valencia,NaN,NaN,NaN,NaN,NaN,Las Palmas,NaN,...,NaN,1.0,11,14,0,1,0,5,0,0
2,2017-08-19-Celta Vigo-Real Sociedad,2017-08-19,Celta Vigo,NaN,NaN,NaN,NaN,NaN,Real Sociedad,NaN,...,NaN,0.0,0,0,0,0,0,0,0,0
3,2017-08-19-Girona-Atlético Madrid,2017-08-19,Girona,NaN,NaN,NaN,NaN,NaN,Atlético Madrid,NaN,...,NaN,0.5,0,0,0,0,0,0,0,0
4,2017-08-19-Sevilla-Espanyol,2017-08-19,Sevilla,NaN,NaN,NaN,NaN,NaN,Espanyol,NaN,...,NaN,0.5,4,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,2023-12-10-Atlético Madrid-Almería,2023-12-10,Atlético Madrid,1.9,0.9,0.76,0.66,0.59,Almería,1.1,...,0.53,0.5,3,20,2,0,0,6,0,0
2425,2023-12-10-Granada-Athletic Club,2023-12-10,Granada,1.2,1.9,0.70,0.58,0.52,Athletic Club,2.0,...,0.57,0.5,19,5,0,1,0,0,0,1
2426,2023-12-10-Cádiz-Osasuna,2023-12-10,Cádiz,0.7,1.7,0.58,0.56,0.58,Osasuna,1.3,...,0.50,0.5,16,14,0,0,0,1,1,0
2427,2023-12-10-Barcelona-Girona,2023-12-10,Barcelona,1.4,0.9,0.68,0.64,0.55,Girona,2.2,...,0.55,0.5,3,1,0,0,0,0,1,1
2428,2023-12-11-Rayo Vallecano-Celta Vigo,2023-12-11,Rayo Vallecano,1.3,1.3,0.60,0.56,0.59,Celta Vigo,1.2,...,0.62,0.5,8,18,0,0,0,0,1,1

In [20]:
# Only columns without NaN values will be used from the 'old' dataframe, to avoid the need to create 'false' data to replace them.

a = old[old.columns[1:4]]
b = old[x]


# This selection of columns will be called 'newold'.

newold = pd.concat([a, b], axis=1)
newold.reset_index(drop=True, inplace=True)
newold

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,28/08/10,Hercules,Ath Bilbao,2.50,3.25,2.80,2.55,3.20,2.65,2.60,3.10,2.50,2.50,3.20,2.60,2.50,3.12,2.75
1,28/08/10,Levante,Sevilla,3.60,3.50,2.00,3.90,3.30,1.91,3.10,3.30,2.10,3.40,3.30,2.00,3.75,3.30,1.95
2,28/08/10,Malaga,Valencia,2.88,3.30,2.40,2.85,3.30,2.35,2.70,3.20,2.40,2.90,3.25,2.25,2.88,3.20,2.40
3,29/08/10,Espanol,Getafe,2.10,3.30,3.50,2.15,3.25,3.25,2.00,3.20,3.40,2.10,3.25,3.25,2.10,3.20,3.50
4,29/08/10,La Coruna,Zaragoza,2.10,3.30,3.50,2.05,3.25,3.50,2.00,3.20,3.40,1.91,3.30,3.75,2.05,3.25,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,03/12/2023,Mallorca,Alaves,2.45,3.00,3.25,2.35,3.00,3.30,2.40,3.00,3.25,2.40,3.00,3.10,2.45,3.00,3.25
5085,03/12/2023,Almeria,Betis,3.20,3.60,2.20,3.20,3.60,2.15,3.20,3.60,2.15,3.10,3.70,2.10,3.25,3.60,2.15
5086,03/12/2023,Sevilla,Villarreal,2.00,3.60,3.60,2.10,3.70,3.20,2.15,3.60,3.25,2.05,3.75,3.10,2.10,3.60,3.40
5087,03/12/2023,Barcelona,Ath Madrid,2.00,3.75,3.50,2.00,3.60,3.60,2.00,3.65,3.55,1.95,3.70,3.50,2.05,3.60,3.50
5088,04/12/2023,Celta,Cadiz,1.57,3.80,6.50,1.61,3.90,5.50,1.63,3.90,5.75,1.57,3.90,5.50,1.55,3.80,5.50

In [21]:
a1 = new["home_team"].unique()
a1

array(['Leganés', 'Valencia', 'Celta Vigo', 'Girona', 'Sevilla',
       'Athletic Club', 'Barcelona', 'Deportivo La Coruña', 'Levante',
       'Málaga', 'Real Sociedad', 'Real Betis', 'Alavés', 'Las Palmas',
       'Espanyol', 'Eibar', 'Getafe', 'Real Madrid', 'Villarreal',
       'Atlético Madrid', 'Rayo Vallecano', 'Valladolid', 'Huesca',
       'Mallorca', 'Granada', 'Osasuna', 'Cádiz', 'Elche', 'Almería'],
      dtype=object)

In [22]:
a2 = newold["HomeTeam"].unique()
a2

array(['Hercules', 'Levante', 'Malaga', 'Espanol', 'La Coruna',
       'Mallorca', 'Osasuna', 'Santander', 'Sociedad', 'Ath Madrid',
       'Ath Bilbao', 'Barcelona', 'Real Madrid', 'Valencia', 'Getafe',
       'Sevilla', 'Sp Gijon', 'Villarreal', 'Zaragoza', 'Almeria',
       'Granada', 'Betis', 'Vallecano', 'Celta', 'Valladolid', 'Elche',
       'Eibar', 'Cordoba', 'Las Palmas', 'Leganes', 'Alaves', 'Girona',
       'Huesca', 'Cadiz'], dtype=object)

In [23]:
import numpy as np
not_in_array2 = np.setdiff1d(a2, a1)
not_in_array2

array(['Alaves', 'Almeria', 'Ath Bilbao', 'Ath Madrid', 'Betis', 'Cadiz',
       'Celta', 'Cordoba', 'Espanol', 'Hercules', 'La Coruna', 'Leganes',
       'Malaga', 'Santander', 'Sociedad', 'Sp Gijon', 'Vallecano',
       'Zaragoza'], dtype=object)

In [24]:
newold

,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,28/08/10,Hercules,Ath Bilbao,2.50,3.25,2.80,2.55,3.20,2.65,2.60,3.10,2.50,2.50,3.20,2.60,2.50,3.12,2.75
1,28/08/10,Levante,Sevilla,3.60,3.50,2.00,3.90,3.30,1.91,3.10,3.30,2.10,3.40,3.30,2.00,3.75,3.30,1.95
2,28/08/10,Malaga,Valencia,2.88,3.30,2.40,2.85,3.30,2.35,2.70,3.20,2.40,2.90,3.25,2.25,2.88,3.20,2.40
3,29/08/10,Espanol,Getafe,2.10,3.30,3.50,2.15,3.25,3.25,2.00,3.20,3.40,2.10,3.25,3.25,2.10,3.20,3.50
4,29/08/10,La Coruna,Zaragoza,2.10,3.30,3.50,2.05,3.25,3.50,2.00,3.20,3.40,1.91,3.30,3.75,2.05,3.25,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,03/12/2023,Mallorca,Alaves,2.45,3.00,3.25,2.35,3.00,3.30,2.40,3.00,3.25,2.40,3.00,3.10,2.45,3.00,3.25
5085,03/12/2023,Almeria,Betis,3.20,3.60,2.20,3.20,3.60,2.15,3.20,3.60,2.15,3.10,3.70,2.10,3.25,3.60,2.15
5086,03/12/2023,Sevilla,Villarreal,2.00,3.60,3.60,2.10,3.70,3.20,2.15,3.60,3.25,2.05,3.75,3.10,2.10,3.60,3.40
5087,03/12/2023,Barcelona,Ath Madrid,2.00,3.75,3.50,2.00,3.60,3.60,2.00,3.65,3.55,1.95,3.70,3.50,2.05,3.60,3.50
5088,04/12/2023,Celta,Cadiz,1.57,3.80,6.50,1.61,3.90,5.50,1.63,3.90,5.75,1.57,3.90,5.50,1.55,3.80,5.50

In [25]:
# Team names are differently written in both datasets, a change must be done to make them be equal (for merging purposes only).

newold.replace({'Almeria': "Almería", 'Sociedad': "Real Sociedad", "Ath Bilbao":"Athletic Club", "Celta": "Celta Vigo", "Cadiz":"Cádiz", "Ath Madrid":"Atlético Madrid", "Betis":"Real Betis", "Alaves":"Alavés", "Vallecano":"Rayo Vallecano", "La Coruna":"Deportivo La Coruña", "Malaga":"Málaga", "Espanol":"Espanyol", "Leganes":"Leganés"}, inplace=True)


# Change the 'date' column type.

newold["Date"] = pd.to_datetime(newold["Date"], format='%d/%m/%Y', errors='coerce').fillna(pd.to_datetime(newold["Date"], format='%d/%m/%y', errors='coerce'))


# Create the ID column in the second dataframe.

newold["ID"] = newold['Date'].astype(str) + '-' + newold['HomeTeam'] + '-' + newold['AwayTeam']
newold = pd.concat([newold["ID"], newold.drop("ID", axis=1)], axis=1)
newold

,ID,Date,HomeTeam,AwayTeam,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,2010-08-28-Hercules-Athletic Club,2010-08-28,Hercules,Athletic Club,2.50,3.25,2.80,2.55,3.20,2.65,2.60,3.10,2.50,2.50,3.20,2.60,2.50,3.12,2.75
1,2010-08-28-Levante-Sevilla,2010-08-28,Levante,Sevilla,3.60,3.50,2.00,3.90,3.30,1.91,3.10,3.30,2.10,3.40,3.30,2.00,3.75,3.30,1.95
2,2010-08-28-Málaga-Valencia,2010-08-28,Málaga,Valencia,2.88,3.30,2.40,2.85,3.30,2.35,2.70,3.20,2.40,2.90,3.25,2.25,2.88,3.20,2.40
3,2010-08-29-Espanyol-Getafe,2010-08-29,Espanyol,Getafe,2.10,3.30,3.50,2.15,3.25,3.25,2.00,3.20,3.40,2.10,3.25,3.25,2.10,3.20,3.50
4,2010-08-29-Deportivo La Coruña-Zaragoza,2010-08-29,Deportivo La Coruña,Zaragoza,2.10,3.30,3.50,2.05,3.25,3.50,2.00,3.20,3.40,1.91,3.30,3.75,2.05,3.25,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5084,2023-12-03-Mallorca-Alavés,2023-12-03,Mallorca,Alavés,2.45,3.00,3.25,2.35,3.00,3.30,2.40,3.00,3.25,2.40,3.00,3.10,2.45,3.00,3.25
5085,2023-12-03-Almería-Real Betis,2023-12-03,Almería,Real Betis,3.20,3.60,2.20,3.20,3.60,2.15,3.20,3.60,2.15,3.10,3.70,2.10,3.25,3.60,2.15
5086,2023-12-03-Sevilla-Villarreal,2023-12-03,Sevilla,Villarreal,2.00,3.60,3.60,2.10,3.70,3.20,2.15,3.60,3.25,2.05,3.75,3.10,2.10,3.60,3.40
5087,2023-12-03-Barcelona-Atlético Madrid,2023-12-03,Barcelona,Atlético Madrid,2.00,3.75,3.50,2.00,3.60,3.60,2.00,3.65,3.55,1.95,3.70,3.50,2.05,3.60,3.50
5088,2023-12-04-Celta Vigo-Cádiz,2023-12-04,Celta Vigo,Cádiz,1.57,3.80,6.50,1.61,3.90,5.50,1.63,3.90,5.75,1.57,3.90,5.50,1.55,3.80,5.50

In [26]:
# Perform the merge between both datasets.

mergeddatasets = pd.merge(new, newold, on="ID", how='left')


# Drop columns that are duplicate from the 'newold' dataset.

mergeddatasets.drop(["Date", "HomeTeam", "AwayTeam"], axis=1, inplace=True)

In [27]:
mergeddatasets.to_csv("../coding-csv/merged_datasets.csv")

In [28]:
mergeddatasets

,ID,date,home_team,home_goals_offense,home_goals_defense,home_offense,home_in_game,home_defense,away_team,away_goals_offense,...,BWA,IWH,IWD,IWA,WHH,WHD,WHA,VCH,VCD,VCA
0,2017-08-18-Leganés-Alavés,2017-08-18,Leganés,NaN,NaN,NaN,NaN,NaN,Alavés,NaN,...,4.10,2.10,3.4,3.50,2.05,3.10,4.00,2.05,3.2,4.40
1,2017-08-18-Valencia-Las Palmas,2017-08-18,Valencia,NaN,NaN,NaN,NaN,NaN,Las Palmas,NaN,...,4.60,1.75,3.6,4.80,1.80,3.75,4.20,1.80,4.0,4.60
2,2017-08-19-Celta Vigo-Real Sociedad,2017-08-19,Celta Vigo,NaN,NaN,NaN,NaN,NaN,Real Sociedad,NaN,...,3.00,2.50,3.3,2.85,2.40,3.40,2.90,2.40,3.4,3.13
3,2017-08-19-Girona-Atlético Madrid,2017-08-19,Girona,NaN,NaN,NaN,NaN,NaN,Atlético Madrid,NaN,...,1.45,7.20,4.4,1.45,8.00,4.20,1.44,7.50,4.3,1.50
4,2017-08-19-Sevilla-Espanyol,2017-08-19,Sevilla,NaN,NaN,NaN,NaN,NaN,Espanyol,NaN,...,5.75,1.55,4.0,6.20,1.67,3.60,5.50,1.65,4.0,5.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2424,2023-12-10-Atlético Madrid-Almería,2023-12-10,Atlético Madrid,1.9,0.9,0.76,0.66,0.59,Almería,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2425,2023-12-10-Granada-Athletic Club,2023-12-10,Granada,1.2,1.9,0.70,0.58,0.52,Athletic Club,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2426,2023-12-10-Cádiz-Osasuna,2023-12-10,Cádiz,0.7,1.7,0.58,0.56,0.58,Osasuna,1.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2427,2023-12-10-Barcelona-Girona,2023-12-10,Barcelona,1.4,0.9,0.68,0.64,0.55,Girona,2.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2428,2023-12-11-Rayo Vallecano-Celta Vigo,2023-12-11,Rayo Vallecano,1.3,1.3,0.60,0.56,0.59,Celta Vigo,1.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN